In [1]:
# to print any object
print(100)

100

In [4]:
print("hello")
print('hello')

hello
hello

In [3]:
print(100+100)

200

In [5]:
# variable assign and execution
i = 10
print(i)

10

# Add,div,multi,div

In [9]:
a = 10
b = 20
c = a + b
print('Addition of a and b is :-',c)

Addition of a and b is :- 30

In [10]:
a = 10
b = 20
c = a - b
print('substraction of a and b is :-',c)

substraction of a and b is :- -10

In [11]:
a = 10
b = 20
c = a + b
print('Addition of a and b is :-',c)
d = a - b
print("sub is",d)
e  = a * b
print("multi is ",e)
f = a / b
print("div is ",f)

Addition of a and b is :- 30
sub is -10
multi is  200
div is  0.5

# Strings

In [14]:
a = 'hello '
b = 'world'
c = a + b
print(c)

hello world

In [16]:
#concatination
a = 'hello '
b = 'world'
c = a + b
d = 'welcomes'# adding new string
print(c,d)

hello world welcomes

In [22]:
s = 'hello Am linux'
cap = s.capitalize()
print(cap)

upper = s.upper()
print(upper)

lower = s.lower()
print(lower)

title = s.title()
print(title)

Hello am linux
HELLO AM LINUX
hello am linux
Hello Am Linux

# checking strings

In [1]:
s = 'hello am ISRO'
print('Is upper?',s.isupper())

Is upper? False

In [3]:
s = 'hello am isro'
print('Is lower?',s.islower())

Is lower? True

In [5]:
s = 'hello am ISRO'
print('Is Titlecase?',s.istitle())

Is Titlecase? False

In [2]:
s = 'hello am isro'
print('Is alphabetical?',s.isalpha())

Is alphabetical? False

In [13]:
s = ' hello 154668'
print('Is nubers?',s.isalnum())

Is nubers? False

In [14]:
s = '123'
print('Is digit?',s.isdigit())

Is digit? True

# Split function

In [15]:
s = "welcome to data science" #spliting by using space
q = s.split(' ')
print(q)

['welcome', 'to', 'data', 'science']

In [16]:
s = "welcome to data science" #spliting by particular letter or word
q = s.split('t')
print(q)

['welcome ', 'o da', 'a science']

In [18]:
s = "welcome to Data sciEnce" #spliting b
q = s.split('E')               #case sensitive data
print(q)

['welcome to Data sci', 'nce']

# Find function

In [20]:
s = "welcome to data science" #it gives a position of word 
q = s.find('data')
print(q)

11

In [21]:
s = "welcome to data science" #
q = s.find('9871562254')
print(q)

-1

# Printing Tricks

In [22]:
print('apple')

apple

In [23]:
print('apple,orange,kiwi')

apple,orange,kiwi

In [24]:
print('apple\norange\nkiwi') # \n stands for newline

apple
orange
kiwi

In [25]:
print('apple\torange\tkiwi')  #\t it gives tabular space

apple	orange	kiwi

In [27]:
print('\'apple\'')
print("\"apple\"")

'apple'
"apple"

In [34]:
print('\\apple\\')

\apple\

In [32]:
print('apple')

apple

# join function

In [1]:
a = ['as','bd'] #seprating by ','
b = ','
print(b.join(a))

as,bd

In [2]:
a = ['as','bd'] # seprating by '--'
b = '--'
print(b.join(a))

as--bd

In [3]:
a = ['as','bd'] #seprating by '\n'
b = '\n'
print(b.join(a))

as
bd

In [4]:
a = ['as','bd'] #seprating by '\t'
b = '\t'
print(b.join(a))

as	bd

In [6]:
a = ['as','bd'] #seprating by '\n' #another way
print('\n'.join(a))

as
bd

In [7]:
a = ['as','bd'] #seprating by '\t' # another way
print('\t'.join(a))

as	bd

# Format string

In [8]:
print('{} {}'.format('one', 'two'))

one two

In [9]:
print('{0} {1}'.format('one', 'two'))

one two

In [10]:
print('{1} {0}'.format('one', 'two')) # sequencing

two one

In [12]:
print('{1} {1} {1} {1}'.format('one', 'two')) # reusing  + sequencing

two two two two

In [13]:
print('{1} {0} {0} {1}'.format('one', 'two'))

two one one two

In [2]:
print('{:>10}'.format('test'))# add space after string

test

In [15]:
print('{:<10}'.format('test'))# add space after string

test

In [16]:
print('{:_<10}'.format('test'))# add '_' after string

test______

In [17]:
print('{:.<10}'.format('test'))# add "." after string

test......

In [18]:
print('{:.>10}'.format('test'))# add '.' before string

......test

In [4]:
print('{:a>20}'.format('test'))# add 'a' after string

aaaaaatest

In [21]:
print('{:h>10}'.format('test'))# add 'h' after string

hhhhhhtest

In [6]:
print('{:.^7}'.format('zip'))# align string to center

..zip..

# conditional statement
# if else

In [35]:
a = 10
b = 20
if a > b:
    print(a)
else:
    print(b)

20

In [29]:
a = 10
b = 20
if a > b:
    print(a)
    print('a is greater than b:-')
else:
    print(b)
    print('a is less than b:-')

20
a is less than b:-

In [30]:
a = 10
b = 20
if a > b:
    print('a is greater than b:-',a)
else:
    print('a is less than b:-',b)

a is less than b:- 20

# if else nested

In [9]:
a = 100
b = 200
c = 500
if a > b:
    if a > c:
        print('a is greater')
    else:
            print('c is greaater1')
elif b > c:
    print('b is greater')
else:
        print('c is greater2',c)

c is greater2 500

# Functions

In [11]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

p = 10
q = 5

r = add(p, q)
print(r)

s = sub(p,q)
print(s)

15
5

In [12]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

p = 10
q = 5

r = add(p, q)
print('Addition:',r)

s = sub(p,q)
print('Substraction:',s)

Addition: 15
Substraction: 5

In [13]:
def add(a, b):
    r  = a + b
    return r

def sub(a, b):
    s = a - b
    return s

p = 10
q = 5

r = add(p, q)
print('Addition:',r)

s = sub(p,q)
print('Substraction:',s)

Addition: 15
Substraction: 5

In [17]:
def avengers_bio(Name, Age):
    print('Name:',Name)
    print('Age:',Age)
    
n1 = 'thor'
a1 = 1000
n2 = 'captain'
a2 = 100

avengers_bio(n1,a1)
avengers_bio(n2,a2)

Name: thor
Age: 1000
Name: captain
Age: 100

In [18]:
def avengers_bio(Name, Age):
    print('Name:',Name, 'Age:',Age)
    
n1 = 'thor'
a1 = 1000
n2 = 'captain'
a2 = 100

avengers_bio(n1,a1)
avengers_bio(n2,a2)

Name: thor Age: 1000
Name: captain Age: 100

In [20]:
def avengers_bio(Name, Age, city):
    print('Name:',Name, 'Age:',Age, 'city:',city)
    
n1 = 'thor'
a1 = 1000
c1 = 'Asgaurd'
n2 = 'captain'
a2 = 100
c2 = 'Russia'

avengers_bio(n1,a1,c1)
avengers_bio(n2,a2,c2)

Name: thor Age: 1000 city: Asgaurd
Name: captain Age: 100 city: Russia

In [21]:
def avengers_bio(N, A, c):
    print('Name:',N, 'Age:',A, 'city:',c)
    
n1 = 'thor'
a1 = 1000
c1 = 'Asgaurd'
n2 = 'captain'
a2 = 100
c2 = 'Russia'

avengers_bio(n1,a1,c1)
avengers_bio(n2,a2,c2)

Name: thor Age: 1000 city: Asgaurd
Name: captain Age: 100 city: Russia

# Conditional statements with Functions

In [25]:
def print_greatest(x, y, z):
    if x > z:
        if x > y:
             print('x is greatest')
        else:
            print('z is greatest1')
    elif y > z:
        print('y is greatest')
    else:
        print('z is greatest2',)
        
x = 10
y = 20
z = 50

print_greatest(x, y, z)

z is greatest2 50

In [29]:
def print_greatest(x, y, z):
    greatest = -1;
    if x > z:
        if x > y:
             greatest = x
        else:
             greatest = z
    elif y > z:
         greatest = y
    else:
        greatest = z
        print(greatest,'is greatest')    
        
x = 10
y = 20
z = 50

print_greatest(x, y, z)

50 is greatest

In [33]:
def get_greatest(x, y, z):
    greatest = -1;
    if x > z:
        if x > y:
             greatest = x
        else:
             greatest = z
    elif y > z:
         greatest = y
    else:
        greatest = z
        return greatest
        
x = 10
y = 20
z = 50

g = get_greatest(x, y, z)
print(g,'is greatest')

50 is greatest

# While loop

In [7]:
i = 0
while i < 10:
    print(i)
    i = i + 1
    
print('Done')

0
1
2
3
4
5
6
7
8
9
Done

In [8]:
i = 0
while i < 10:
    print('i = ',i)
    i = i + 1
    
print('Done')

i =  0
i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
i =  8
i =  9
Done

In [11]:
# print fibonacii number
#1,1,2,3,5....n
def print_fibo(n):
    n1 = 1
    n2 = 1
    i = 0
    while i < n:
        print(n1)
        i = i + 1
        temp = n2
        n2 = n1 + n2
        n1 = temp
        
print_fibo(8)

1
1
2
3
5
8
13
21

# List data structure

In [12]:
p = [1,2,3,4,5,6]
p

[1, 2, 3, 4, 5, 6]

In [13]:
q = [] #empty list
q

[]

In [16]:
p = [1,2,3,4,5,6] # for accesing the elemenet in list
p[2]

3

In [17]:
p = [1,2,3,4,5,6]# it prints range of element that you specify.
p[0:5]

[1, 2, 3, 4, 5]

In [18]:
a = [1,2,3,4,'sam','raj'] # hetrogenious list
a

[1, 2, 3, 4, 'sam', 'raj']

# List of string

In [19]:
a = ['ab','cd','ef','gh']
print('list of string:',a)

list of string: ['ab', 'cd', 'ef', 'gh']

In [21]:
a = ['ab','cd','ef','gh'] # to add element in list
a.append('xz')
a

['ab', 'cd', 'ef', 'gh', 'xz']

In [23]:
a = ['ab','cd','ef','gh','xz']
len(a)

5

In [26]:
a = ['ab','cd','ef','gh']
print('accessing last element of list:',a[3])

to access last element of list: gh

In [27]:
a = ['ab','cd','ef','gh']
print('accessing last element of list:',a[-1])

accessing last element of list: gh

In [28]:
a = ['ab','cd','ef','gh']
print('accessing second last element of list:',a[2],a[-2])

accessing second last element of list: ef ef

# Printing list of string with while loop

In [3]:
a = ['ab','cd','ef','gh']
b = [1,2,3,4]
i = 0
while i < 4:
    print(a[i],b[i])
    i = i+1

ab 1
cd 2
ef 3
gh 4

In [6]:
p = [1,2,3,4,5,'raj','sam'] # to add element
p.append(6)
p

[1, 2, 3, 4, 5, 'raj', 'sam', 6]

In [7]:
p = [1,2,3,4,5,'raj','sam']
p.append('nik')
p

[1, 2, 3, 4, 5, 'raj', 'sam', 'nik']

In [11]:
p = [1,2,3,4,5,'raj','sam'] # to remove element
p.remove(5)
p

[1, 2, 3, 4, 'raj', 'sam']

In [9]:
p = [1,2,3,4,5,'raj','sam']
p.remove('sam')
p

[1, 2, 3, 4, 5, 'raj']

In [12]:
p = [1,2,3,4,5,'raj','sam'] # to replace element
p[5] = 'nik'
p

[1, 2, 3, 4, 5, 'nik', 'sam']

In [13]:
p = [1,2,3,4,5,'raj','sam'] # we can replace it with no also
p[5] = 6
p

[1, 2, 3, 4, 5, 6, 'sam']

# Concatenation

In [14]:
l1 = [1,2,3,4]
l2 = [5,6,7,8]
print(l1+l2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
l1 = [1,2,3,4] # another way
l2 = [5,6,7,8]
l = l1 + l2
print(l)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
l1 = [1,2,3,4] # add multiple list
l2 = [5,6,7,8]
l3 = [9,10]
l = l1 + l2 +l3
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
l1 = [1,2,3,4]   # empty list
l2 = []
print(l1+l2)

[1, 2, 3, 4]

In [19]:
l1 = [1,2,3,4] # concatenate with list only
l2 = [1]
print(l1+l2)

[1, 2, 3, 4, 1]

# Repeatation

In [23]:
l1 = [1,2,3,4]
print(l1*4)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [21]:
l1 = [1,2,3,4]
print(l1*1)

[1, 2, 3, 4]

In [22]:
l1 = [1,2,3,4]
print(l1*0)    # it give you  null string

[]

In [2]:
# multiplying with lenth
l1 = [1,2,3,4]
print('lenth: ',len(l1))
print(len(l1*1), len(l1*2), len(l1*3), len(l1*4))

lenth:  4
4 8 12 16

In [29]:
a = ['apple','banana','oranges','mango'] # to find or check element
print('apple' in a)

True

In [30]:
a = ['apple','banana','oranges','mango'] # case sensetive
print('Apple' in a)

False

In [31]:
a = ['apple','banana','oranges','mango']
if 'mango' in a:
    print(True)
else:
    print(False)

True

# Bubble sort

In [1]:
l = [2,5,7,8,9,5,44,7,8]
i = 0
print('lenth of l:',len(l))
print('before:',l)
while i < len(l):
    j = 0
    while j < i:
        if l[i] < l[j]:
            
            temp = l[i]
            l[i] = l[j]
            l[j] = temp
        j = j + 1
    i = i + 1
print('after',l)

lenth of l: 9
before: [2, 5, 7, 8, 9, 5, 44, 7, 8]
after [2, 5, 5, 7, 7, 8, 8, 9, 44]

# For loop

In [2]:
a = [1,2,3,4,5,6]
for i in a:
    print(i)

1
2
3
4
5
6

In [3]:
b = ['apple','mango','banana','oranges']
for i in b:
    print(i)

apple
mango
banana
oranges

# sum of elements in list

In [4]:
a = [1,2,3,4]
s = 0
for i in a:
    s = s + i
print(s)

10

# concatenation of list using for loop

In [6]:
b = ['Hi','Am','Not','Robot']
c = ''
for i in b:
    c = c + i
print(c)

HiAmNotRobot

# Range() method

In [10]:
a = [1,2,3,4,5,6,7,8,9]
for i in range(0,len(a)):
      print(i,a[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

# Break statement

In [13]:
a = [1,2,3,4,5,6,7,8,9]
for i in a:
    if i == 6:
        break
    print(i)

1
2
3
4
5

# Continue statement

In [20]:
a = [1,2,3,5,66,45,88,123]
def first_greater(first):
    for i in first:
        if i < 36:
            continue
        return i
print(first_greater(a))

66

 # For loop Nesting

In [21]:
a = [1,2,3,4]
b = ['apple','mango','grapes','banana']
for i in a:
    for j in b:
        print(i,j)

1 apple
1 mango
1 grapes
1 banana
2 apple
2 mango
2 grapes
2 banana
3 apple
3 mango
3 grapes
3 banana
4 apple
4 mango
4 grapes
4 banana

# Dictionary

In [3]:
#Dictionary contains key value pair
#key value pair called item
# Items are not present in sequence
a = {'apple':2,'banana':4,'mango':7,'orange':9}
print(a['apple'])
print(a['orange'])
print(a)

2
9
{'apple': 2, 'banana': 4, 'mango': 7, 'orange': 9}

In [4]:
#Printing keys in dictionary
a = {'apple':2,'banana':4,'mango':7,'orange':9}
for i in a:
    print(i)

apple
banana
mango
orange

In [5]:
#Printing keys and values both with items()method
a = {'apple':2,'banana':4,'mango':7,'orange':9}
for i,j in a.items():
    print(i,j)

apple 2
banana 4
mango 7
orange 9

# Importing liabraries

In [7]:
import math
print(math.sin(1))

0.8414709848078965

In [8]:
import math
print(math.cos(1))

0.5403023058681398

In [11]:
#printing time
import datetime
t = datetime.time(11,25,8)# hr,min,sec
print('Hour:',t.hour)
print('Minute:',t.minute)
print('seconds:',t.second)

Hour: 11
Minute: 25
seconds: 8

In [13]:
#printing date
import datetime
d = datetime.date(2020,7,21)#year,month,day
print('year:',d.year)
print('month:',d.month)
print('day:',d.day)

year: 2020
month: 7
day: 21

In [17]:
#printing current time
import datetime
t = datetime.datetime.now()# hr,min,sec
print('Hour:',t.hour)
print('Minute:',t.minute)
print('seconds:',t.second)
print('microsecond:',t.microsecond)

Hour: 12
Minute: 19
seconds: 12
microsecond: 748397

In [18]:
#printing  current date
import datetime
d = datetime.datetime.now()#year,month,day
print('year:',d.year)
print('month:',d.month)
print('day:',d.day)

year: 2021
month: 7
day: 24

In [19]:
#sub-modules
from datetime import date
print(date.today())

2021-07-24

In [1]:
#Printing difference between dates
from datetime import date
a = date(2021,7,24)
b = date(2019,7,21)

print('Difference of date:',a-b)

Difference of date: 734 days, 0:00:00

In [24]:
#printing difference between date and time
from datetime import datetime

a = datetime(2021,7,24, 12,30,5)
b = datetime(2021,7,21, 12,25,4)

print('Diff. between date and time:',a-b)

Diff. between date and time: 3 days, 0:05:01

# Recursion

In [2]:
# It means that a function calls itself. 
# This has the benefit of meaning 
# that you can loop through data to reach
# a result.
#printing factorial of n numbers
# 4*3*2*1
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)
print(factorial(4))

24

In [3]:
#printing sum of square of numbers
#4*3*2*1
#16+9+4+1=30
def sum_square(n):
    if n == 1:
        return 1
    else:
        return n*n + sum_square(n-1)
    
print(sum_square(4))

30

In [5]:
import keyword
print(keyword.kwlist)
print('total keywords:',len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
total keywords: 35

In [6]:
import sys
print(sys.version_info)

sys.version_info(major=3, minor=8, micro=8, releaselevel='final', serial=0)

# Logical oprators

# And

In [7]:
print(1<5 and 2<5)   #true and true = true
print(1>5 and 1<5)   #false and true = false

True
False

# Or

In [8]:
print(1<5 or 2<5)   #true or true = true
print(1>5 or 1<5)   #false or true = true

True
True

# Not

In [10]:
# it provides opposite result
print(not 1<5)    # not true = false
print(not 1>5)    #not  flase = true

False
True

# Relational oprators

In [11]:
# == equals to
print(1==2)     # condition false
print(1==1)     # condition true

False
True

In [12]:
# != not equals to
print(1!=2)      # condition true
print(1!=1)      # condition false

True
False

In [13]:
# < less than
print(1<2)      #condition true
print(1<1)      #condition false

True
False

In [14]:
# > greater than
print(1>2)      #condition false
print(1>1)      #condition false

False
False

In [15]:
# <= less than equals to
print(1<=2)    #condition true
print(1<=1)    #condition true

True
True

In [16]:
# >= greater than equals to
print(1>=2)     #condition false
print(1>=1)     #condition true

False
True

# Square root

In [17]:
#The square root of the square of a 
#positive number gives the original number
import math
print(math.sqrt(4))

2.0

In [18]:
#pythagoras theorm
# c*c = a*a + b*b
import math
a = 3
b = 4
print(math.sqrt(a*a + b*b))

5.0

In [19]:
import math
print(math.exp(2))

7.38905609893065

In [20]:
import math
print(math.exp(1))

2.718281828459045

In [21]:
import math
print(math.log(100))

4.605170185988092

In [22]:
import math
print(math.log(10))

2.302585092994046

In [24]:
import math
print(math.log10(100))

2.0

# Regular expression

In [2]:
import re
s = 'Steven Paul Jobs was an American business magnate, industrial designer, investor, and media proprietor'
p = re.search('.*Paul.*',s)
if p:
    print('Found:',p.group())
else:
    print('Not Found...')

Found: Steven Paul Jobs was an American business magnate, industrial designer, investor, and media proprietor

In [3]:
#we can create group using regular expression
import re
s = 'Steven Paul Jobs was an American business magnate, industrial designer, investor, and media proprietor'
p = re.search('(.*)and(.*)',s)
if p:
    print('Found:',p.group())
    print('Group1:',p.group(1))
    print('Group2:',p.group(2))
else:
    print('Not Found...')

Found: Steven Paul Jobs was an American business magnate, industrial designer, investor, and media proprietor
Group1: Steven Paul Jobs was an American business magnate, industrial designer, investor,
Group2:  media proprietor

In [14]:
#we can create group using regular expression
import re
s = 'today is sunday and tommorow is monday'
p = re.search('(.*)and (.*)',s)
if p:
    print('Found:',p.group())
    print('Group1:',p.group(1))
    print('Group1:',p.group(1).capitalize())
    print('Group2:',p.group(2))
    print('Group2:',p.group(2).capitalize())
else:
    print('Not Found...')

Found: today is sunday and tommorow is monday
Group1: today is sunday
Group1: Today is sunday
Group2: tommorow is monday
Group2: Tommorow is monday

In [6]:
#match function 
#it match only with first word of your string
import re
s = 'today is sunday and tommorow is monday'
p = re.match('today.*',s)
if p:
    print('Match:',p.group())
else:
    print('No Match...')

Match: today is sunday and tommorow is monday

In [17]:
#match function
import re
s = 'today is sunday and tommorow is monday'
p = re.match('today.*(and).*',s)
if p:
    print('Match:',p.group())
    print('Match:',p.group(1))
else:
    print('No Match...')

Match: today is sunday and tommorow is monday
Match: and

# Substituting digits and non-digits

In [18]:
#\d use to remove numbers
import re
s = 'this is 456446261'
p = re.sub('\d', '',s)
print(p)

this is

In [19]:
#\D use to remove string
import re
s = 'this is 456446261'
p = re.sub('\D', '',s)
print(p)

456446261

In [7]:
import re
s = 'abc@d.com, a@bd.com, sam1@gmail.com'
#\w = word character
#\ = as esacpe charatcter
#. = any one character
#\. = dot character
# + = one or more character
p = re.search('\w+@\w\.com',s)
if p:
    print('Match found:',p.group())
else:
    print('No Match....')

Match found: abc@d.com

In [10]:
# Substituting and Replacing
import re
s = 'this is 116541616'
p = re.sub('\w+' ,'$',s)
print(p)

this is 116541616

# Tuples
## Tles are used to store multiple items in a single variable.
## A tuple is a collection which is ordered and unchangeable.

In [1]:
#its combination of numbers and string
a = (1,2,'apple','orange') # lenth
print(len(a))

4

In [2]:
a = (1,2,'apple','orange')#accesing elements
print(a[0],a[2])

1 apple

In [3]:
a = (1,2,'apple','orange')# accesing multiple elements
print(a[0:3])

(1, 2, 'apple')

In [4]:
a = (1,2,3,4,5) # min max 
print('Maximum No:',max(a))
print("Minimum No:",min(a))

Maximum No: 5
Minimum No: 1

In [8]:
a = (1,2,3,4,5) # indexing
print(a.index(5))

4

In [10]:
a = (1,2,3,4,5,5,6,7,88,99,33,44,5,6,4,2,3,4,5,6,5,4) #counting
print(a.count(6))

3

In [11]:
# Relation between tuple and list
#converting list into tuple
p = [1,2,3,4,5]
print('list:',p)
q = tuple(p)
print('tuple:',q)

list: [1, 2, 3, 4, 5]
tuple: (1, 2, 3, 4, 5)

In [12]:
# converting tuple into list
p = (1,2,3,4,5)
print('tuple',p)
q = list(p)
print('list',q)

tuple (1, 2, 3, 4, 5)
list [1, 2, 3, 4, 5]

In [20]:
# convert dict into tuple
a = {'a':1,'b':2,'c':3}
print('Dictinary:-',a)
b = tuple(a)
print('tuple:-',b)

Dictinary:- {'a': 1, 'b': 2, 'c': 3}
tuple:- ('a', 'b', 'c')

# Reverse opration on string

In [24]:
a = 'Data Science is trending these days' #Spliting 
print(a.split())

['Data', 'Science', 'is', 'trending', 'these', 'days']

In [25]:
a = 'Data Science is trending these days' #Reverse
print(a.split()[::-1])

['days', 'these', 'trending', 'is', 'Science', 'Data']

In [26]:
a = 'Data Science is trending these days' #combinig by join
print(' '.join(a.split()[::-1]))

days these trending is Science Data

# Passing parameters to function by name

In [1]:
def record(name,id_no):
    print(name,id_no)
record(name='abc',id_no=101)

abc 101

# Set oprations

In [2]:
a = {1,2,3,4,5,6,7,7,4,5,67}   # unique and oreder numbers print by set
print(a)

{1, 2, 3, 4, 5, 6, 7, 67}

In [5]:
s1 = {'ab','cd','ef','cd'}   #Builtin function
s1 = set(s1)
print(s1)

{'ab', 'ef', 'cd'}

# Set Relations

In [6]:
s1 = {1,2,3,4,5,6,7}   #superset
s2 = {2,3}  #subset

print(s1 > s2)
print(s2 > s1)

True
False

In [7]:
s1 = {1,2,3,4,5,6,7}   #superset
s2 = {2,3}  #subset

print(s1.issubset(s2)) #issubset
print(s2.issubset(s1))

False
True

In [8]:
s1 = {1,2,3,4,5,6,7}   #superset
s2 = {2,3}  #subset

print(s1.issuperset(s2)) #issuperset
print(s2.issuperset(s1))

True
False

In [11]:
# Union
s1 = {1,2,3,4,5,6,7,8,7,4,3}   #repeated values remove
s2 = {2,3,4,5}

print(s1.union(s2))
print(s2.union(s1))

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
# Intersection
s1 = {1,2,3,4,5,6,7,8,7,4,3}    #common values will be printed
s2 = {2,3,4,5}

print(s1.intersection(s2))
print(s2.intersection(s1))

{2, 3, 4, 5}
{2, 3, 4, 5}

# Set Difference

In [5]:
s1 = {1,2,3,4,5,6,10,11}   # remove common numbers
s2 = {2,3,4,5,7,8}

s3 = s1 - s2

s4 = s1.difference(s2)
print(s3,s4)

s5 = s2 - s1
s6 = s2.difference(s1)
print(s5,s6)

{1, 10, 11, 6} {1, 10, 11, 6}
{8, 7} {8, 7}

In [1]:
# Genrating set using other data structur
s1 = [1,2,3,4,5,6]
s2 = set(s1)
print(s2)

{1, 2, 3, 4, 5, 6}

In [2]:
s1 = {'abc':101,'efg':102}    #Dictionary to set
s2 = set(s1)
print(s2)

{'efg', 'abc'}

In [3]:
#Enumarate function
a = [1,3,5,7]
for i,j in enumerate(a):   
    print(i,j)

0 1
1 3
2 5
3 7

In [4]:
#List Comphrehension
A = [x for x in range(1, 11)]       #Automatically list will genrate
print(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
#printing list of even numbers using list comprehension
B = [x for x in range(1, 11) if x % 2 != 0]
print(B)

[1, 3, 5, 7, 9]

In [7]:
#printing list of squares of even numbers using list comprehension
C = [x*x for x in range(1, 11) if x % 2 == 0]
print(C)

[4, 16, 36, 64, 100]

In [8]:
#Set Comprehension
A = {x for x in range(1,6)}
print(A)

{1, 2, 3, 4, 5}

In [9]:
#printing set of even no.
   #expression , range,     conditional
A = {x for x in range(1,6) if x % 2 == 0}
print(A)

{2, 4}

In [14]:
#Dictionary Comphrehension
A = {x : x for x in range(1, 6)}
print(A)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5}

In [15]:
#for keys
A = {x*x : x for x in range(1, 6)}
print(A)

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [16]:
#for values
A = {x : x*x for x in range(1, 6)}
print(A)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
#Permutation of list comphrehension
A = ['a','b']
B = [(x+y) for x in A for y in A]
print(B)

['aa', 'ab', 'ba', 'bb']

In [4]:
#Permutation of list comphrehension
A = ['a','b']
C = [1,2,3]
B = [(x,y) for x in A for y in C]
print(B)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [2]:
#Lambda function
f = (lambda x : x + 1)
print(f(1))

2

In [3]:
#multiple parameteres
f = (lambda x,y,z: x*y*z)
print(f(1,2,3))

6

In [4]:
f = (lambda x,y : x > y)     #conditinal statements
print(f(2,3))

False

# Map

In [7]:
#it apply function on the sequence of list elements

def sqr(x):
    return x*x

l = [1,2,3,4]

print(list(map(sqr,l)))# sqr = function      # l = sequence

print(list(map(lambda x : x*x,l)))

[1, 4, 9, 16]
[1, 4, 9, 16]

# Filter

 # The filter() method filters the given sequence with the help of a function that tests each element in the sequence to be true or not.

In [11]:
#printing odd no with filter
l = [1,2,3,4,5,7,8]
p = filter(lambda x: x%2 != 0,l)
print(list(p))

[1, 3, 5, 7]

In [12]:
#printing even no with filter
l = [1,2,3,4,5,7,8]
p = filter(lambda x: x%2 == 0,l)
print(list(p))

[2, 4, 8]

In [14]:
#another example

def is_odd(x):                #Without lambda function
    return x%2 != 0

l = [1,2,3,4,5,6,7,8]

print(list(filter(is_odd,l)))

[1, 3, 5, 7]

# Reduce

In [16]:
#Reduction
#reduce(binary-function,sequence)

from functools import reduce
p = (reduce(lambda x,y : x*y,[1,2,3,4]))
print(p)

24

# global keyword

# Global keyword is a keyword that allows a user to modify a variable outside of the current scope. It is used to create global variables from a non-global scope i.e inside a function. Global keyword is used inside a function only when we want to do assignments or when we want to change a variable. Global is not needed for printing and accessing

In [1]:
#global is a keyword
i = 10
def p():
    print(i)
    
def incre():         #without Global keyword
    i = 11
    print(i)
    
p()   
incre()
p()

10
11
10

In [2]:
#global is a keyword
i = 10
def p():
    print(i)
    
def incre():  #with Global keyword
    global i
    i = 11
    print(i)
    
p()   
incre()
p()

10
11
11

In [1]:
#another example
i = 10
def func():
    global i
    i = i + 15
    print(i)
func()

25

# None keyword

In [6]:
#None is a keyword         #it assign to variable      #it used to define null variable
i = None
def func(l):
    if l is None:        #Checking if variable is none
        return 'No values assigned'
    l = l + 1
    return l

print(func(i))
print(func(10))

No values assigned
11

# Is keyword

# This keyword is used to test object identity. The is keyword is used to test whether two variables belong to the same object. The test will return True if the two objects are the same else it will return False even if the two objects are 100% equal. Note: The == operator is used to test if two objects are the same

In [1]:
a = 'aa'
b = 'aa'
print(a is b)
print(a == b)

True
True

In [9]:
a = [1,2,3,4]
b = [1,2,3,4]
print(a is b)
print(a == b)

False
True

# Membership Oprator

In [11]:
#In ,    #not in
a = [1,2,3,4,5]
print(4 in a)
print(7 not in a)

True
True

In [12]:
b = {0:1, 2:3, 4:5}     #Dictionary store key:value in associative manner
print(2 in b)            # it only give result for keys.
print(3 in b)

True
False

# Nested function

In [13]:
def f1():
    x = 10
    def f2():
        return x*x
    print('multiplication:-',f2())
f1()

multiplication:- 100

# Non-local keyword

In [14]:
def a1():
    x = 10
    def a2():
        x = 1         
    a2()    
    print('x = ',x)    

a1()

x =  10

In [15]:
def a1():
    x = 10
    def a2():
        nonlocal x
        x = 1         
    a2()    
    print('x = ',x)    

a1()

x =  1

# Pass statement

In [17]:
def a1():
    pass
    #........
    a1()
def a2():
    #.......
    a2()

# Raw input

In [1]:
a = input('Enter Username :- ')   #python2 =  raw input          #python3 = input
print('Hello...',a,' Enter your password and we good to go...!')
b = input('Enter password :- ')
print('Alright...Lets do some coding...!')

Enter Username :- nik
Hello... nik  Enter your password and we good to go...!
Enter password :- 123
Alright...Lets do some coding...!

# Defining class, constructor, class and instance variable

# Classes provide a means of bundling data and functionality together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it for maintaining its state.

In [2]:
class HelloWorld:
    name = 'learner'      # class variable
    
hw = HelloWorld()

print(HelloWorld.name)       #  calling with class name Helloworld
print(hw.name)         # calling with object hw

learner
learner

# Constructors are generally used for instantiating an object.The task of constructors is to initialize(assign values) to the data members of the class when an object of class is created.In Python the __init__() method is called the constructor and is always called when an object is created.

In [3]:
# default constructor example

class HelloWorld:
    name = 'learner'      # class variable
    
    def __init__(self,i):         # Defining constructor and instance variable
        self.i = i
        
    def printer(self): 
        print(self.i,self.name)
    
        
hw = HelloWorld(10)
hw1 = HelloWorld(20)

hw.printer()
hw1.printer()

10 learner
20 learner

In [4]:
# parameterized constructor example
class Substraction:
    first = 0
    second = 0
    answer = 0
      
    def __init__(self, f, s):
        self.first = f
        self.second = s
      
    def display(self):
        print("First number = " + str(self.first))
        print("Second number = " + str(self.second))
        print("Substraction of two numbers = " + str(self.answer))
  
    def calculate(self):
        self.answer = self.first - self.second
  
obj = Substraction(100, 10)
  
obj.calculate()
  
obj.display()

First number = 100
Second number = 10
Substraction of two numbers = 90

# Inheritance is the capability of one class to derive or inherit the properties from another class.

In [5]:
# Inheritance
class Person():

    def __init__(self, name):
        self.name = name

# To get name
    def getName(self):
        return self.name

# To check if this person is an employee
    def isEmployee(self):
        return False


# Inherited or Subclass (Note Person in bracket)
class Employee(Person):

# Here we return true
    def isEmployee(self):
        return True

# Driver code
emp = Person("rohit") 
print(emp.getName(), emp.isEmployee())

emp = Employee("bhavesh")
print(emp.getName(), emp.isEmployee())

rohit False
bhavesh True

# The __str__ method in Python represents the class objects as a string  it can be used for classes. The __str__ method should be defined in a way that is easy to read and outputs all the members of the class. This method is also used as a debugging tool when the members of a class need to be checked.

#  __repr__ is a special method used to represent a classs objects as a string. __repr__ is called by the repr() built-in function. You can define your own string representation of your class objects using the __repr__ method.

In [1]:
class A:
    def __init__(self):
        self.val = 10
        
    def __str__(self):                #Used for friendly readability
        return 'class A'
    
    def __repr__(self):               #Used for representing the object so that it can be reconstructed later
        return 'class A: self.val'
    
    
a = A()
print(a)

print(repr(a))

class A
class A: self.val

In [2]:
class A:
    def __init__(self):
        self.val = 10
        
    def __str__(self):
        return 'class A'
    
    __repr__ = __str__
    
    
a = A()
print(a)

print(repr(a))

class A
class A

# Encapsulation

# Encapsulation is one of the fundamental concepts in object-oriented programming (OOP). It describes the idea of wrapping data and the methods that work on data within one unit. This puts restrictions on accessing variables and methods directly and can prevent the accidental modification of data.

In [3]:
class speed:
    def __init__(self):
        self.speed = 10    #Public member
        self.__speed_limit = 20   #private member
        
    def get_speed(self):
        return self.speed
    
    def get_speed_limit(self):
        return self.__speed_limit
    
s = speed()
s.speed = 100
s.__speed_limit = 50

print(s.get_speed(), s.get_speed_limit())

100 20

In [4]:
#Changing speed limit and private member

class speed:
    def __init__(self):
        self.speed = 10    #Public member
        self.__speed_limit = 20   #private member
        
    def get_speed(self):
        return self.speed
    
    def get_speed_limit(self):
        return self.__speed_limit
    
    def set_speed_limit(self, new_speed_limit):
        self.__speed_limit = new_speed_limit
    
s = speed()
s.speed = 100
s.__speed_limit = 50
s.set_speed_limit(150)

print(s.get_speed(), s.get_speed_limit())

100 150

# Operator Overloading
# Operator Overloading means giving extended meaning beyond their predefined operational meaning. For example operator + is used to add two integers as well as join two strings and merge two lists. It is achievable because + operator is overloaded by int class and str class.

In [5]:
#Examples of overloading

print(2 + 2)

# concatenate two strings
print("Data"+"Science")

# Product two numbers
print(2 * 4)

# Repeat the String
print("AIisFutuer "*4)

4
DataScience
8
AIisFutuer AIisFutuer AIisFutuer AIisFutuer

# Python provides some special function or magic function that is automatically invoked when it is associated with that particular operator. For example, when we use + operator, the magic method __add__ is automatically invoked in which the operation for + operator is defined.

In [7]:
# to overload an binary + operator

class X:
    def __init__(self, a):
        self.a = a

# adding two objects
    def __add__(self, b):
        return self.a + b.a
ob1 = X(6)
ob2 = X(4)
ob3 = X("Data")
ob4 = X("Science")

print(ob1 + ob2)
print(ob3 + ob4)

10
DataScience

In [8]:
# Addition of two complex numbers overloading

class Complex:
    def __init__(self, a, b):
        self.a = a
        self.b = b

# adding two objects
    def __add__(self, other):
        return self.a + other.a, self.b + other.b

Ob1 = Complex(6, 4)
Ob2 = Complex(1, 5)
Ob3 = Ob1 + Ob2
print(Ob3)

(7, 9)

In [9]:
# a comparison operators overloading

class Z:
    def __init__(self, a):
        self.a = a
    def __gt__(self, other):
        if(self.a>other.a):
            return True
        else:
            return False
ob1 = Z(4)
ob2 = Z(6)
if(ob1>ob2):
    print("ob1 is greater than ob2")
else:
    print("ob2 is greater than ob1")

ob2 is greater than ob1

In [11]:
# equality and less than operator overloading

class Y:
    def __init__(self, a):
        self.a = a
    def __lt__(self, other):
        if(self.a<other.a):
            return "ob1 is < ob2"
        else:
            return "ob2 is < ob1"
    def __eq__(self, other):
        if(self.a == other.a):
            return "Both are equal"
        else:
            return "Not equal"

ob1 = Y(2)
ob2 = Y(3)
print(ob1 < ob2)

ob3 = Y(4)
ob4 = Y(4)
print(ob3 == ob4)

ob1 is < ob2
Both are equal

# Binary Operators:-

# Operator Magic Method

#  +__add__(self, other)
#   __sub__(self, other)
#  * __mul__(self, other)
#  / __truediv__(self, other)
#  // __floordiv__(self, other)
#  % __mod__(self, other)
#  ** __pow__(self, other)
#  >> __rshift__(self, other)
#  << __lshift__(self, other)
#  & __and__(self, other)
#  | __or__(self, other)
#  ^ __xor__(self, other)

# Comparison Operators :

# Operator Magic Method

# < __LT__(SELF, OTHER)
# > __GT__(SELF, OTHER)
# <= __LE__(SELF, OTHER)
# >= __GE__(SELF, OTHER)
# == __EQ__(SELF, OTHER)
# != __NE__(SELF, OTHER)

# Writing to file

In [1]:
f = open('a1.txt','w')     # W is for Write

f.write('Welcome to SparrowAI...\n')
f.write('Data Science is trending these days...\n')
f.write('AI is future...\n\n')

f.write('hello Coders...\nthis session is going to be fun...\nIm glad that you learning python with me')

f.close()

# Reading to file

In [3]:
f = open('a1.txt','r')     # r is for Read

for l in f:
    print(l,end='')

Welcome to SparrowAI...
Data Science is trending these days...
AI is future...

hello Coders...
this session is going to be fun...
Im glad that you learning python with me

# OS module, this module provides a portable way of using operating system dependent functionality.

In [4]:
import os

cwd = os.getcwd()

print('Current Working Directory:-',cwd)

Current Working Directory:- /home/nikhil/GCCA

In [6]:
import os

d = os.getcwd()

fname = os.path.join(d, 'a1.txt')    #Join two or more pathname components

print(fname)

f = open(fname, 'r')

for l in f:
    print(l,end='')

/home/nikhil/GCCA/a1.txt
Welcome to SparrowAI...
Data Science is trending these days...
AI is future...

hello Coders...
this session is going to be fun...
Im glad that you learning python with me